// ORDER MATTERS !

// Change the values of the original color variables of Bootstrap, here (e.g.: $primary: rgb(74, 52, 89);)
// $secondary: #69659b;
$primary: #3da086;

// Import the functions and variables necessary to create a complete table of colors with default and new entries
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Create a custom table with the new color variables here
$custom-theme-colors: (
  // "altlight": #f2eaaa,
  // "altdark": #574f17,
  "darkprimary": #0e7056,
  "darkestprimary": #2f3a37
);

// Merge the old color values table with the new one
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Convert the new color values
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$utilities-colors: map-merge(
  $theme-colors-rgb,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color),
  )
);

$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);

$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Custom CSS below here
body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* @media (min-width: 768px) {
        .news-input {
          width: 50%;
        }
      } */

.btn-label {
  position: relative;
  display: inline-block;
  padding-right: calc(0.75rem);
  padding-top: calc(0.625rem / 4);
  padding-bottom: calc(0.625rem / 4);
  top: -0.1rem;
}

.btn-custom {
  padding: 0.4rem 2rem;
}

.custom-arrow-box {
  margin-top: -1rem;
}
.custom-arrow-box .custom-arrow-icon {
  font-size: 100px;
}

.custom-img {
  max-width: 180px;
}
